body{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(orange,rgb(255, 195, 84));
    font-family: sans-serif;
}

.containerForm{

    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    width: 200px;
    padding: 20px;
    border-radius: 2%;
}